# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\CSE19-064\OneDrive - Botswana Accountancy College\CSE\Year 2\Semester 1\OOAD with JAVA\Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
